<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Einsten-About</title>
  </head>
  <body>
    In addition to his work on relativity, the physicist laid the scientific
    foundations for paper towels, lasers, and more common products. Albert
    Einstein is justly famous for devising his theory of relativity, which
    revolutionized our understanding of space, time, gravity, and the universe.
    <a href="/home">home</a>
  </body>
</html>
